.products-list-cont{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    
    
}

.bg-prodct{
    
    padding-top: 1%;
    text-align: center;
    

}
.head{
    margin-bottom: 2%;
}

@media screen and (max-width: 600px){
    .bg-prodct{
        background-color: whitesmoke;
    }
}